.main_container{
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;

}

.main_left {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px;

}